
<em>Content Copyright by Pierian Data</em>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [31]:
def lesser_of_two_evens(a,b):
    var_even_odd=a+b
    if var_even_odd % 2== 0:
        print(min(a,b))
    else:
        print(max(a,b))

In [32]:
# Check
lesser_of_two_evens(2,4)

2

In [33]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [43]:
def animal_crackers(text):
    space_index=text.find(' ')
    index_2nd=space_index + 1
    if text[0] == text[index_2nd]:
        return True
    else:
        return False

In [44]:
# Check
animal_crackers('Levelheaded Llama')

True

In [45]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [46]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2==20:
        return True
    else:
        return False

In [47]:
# Check
makes_twenty(20,10)

True

In [52]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [79]:
def old_macdonald(name):
    cap_1=name.capitalize()
    print(cap_1)

    # https://www.scaler.com/topics/replace-a-character-in-a-string-python/
    #upper case for the character in position 3
    index=3
    new_character="D"
    cap_2=cap_1[:index]+new_character+cap_1[index+1:]
    
    print(cap_2)

In [80]:
# Check
old_macdonald('macdonald')

Macdonald
MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [109]:
def master_yoda(text):
    split_text = text.split()
    split_text.reverse()
    reversed_text=" ".join(split_text)
    print(reversed_text)

In [110]:
# Check
master_yoda('I am home')

home am I

In [111]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [139]:
def almost_there(n):
    deviation_value = 10
    ref_value_1 = 100
    ref_value_2 = 200
    if ref_value_1-deviation_value <= n <= ref_value_1+deviation_value:
        return True
    elif ref_value_2-deviation_value <= n <= ref_value_2+deviation_value:
        return True
    else:   
        return False

In [140]:
# Check
almost_there(104)

True

In [141]:
# Check
almost_there(150)

False

In [146]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [83]:
def has_33(nums):
    ref_value=3
    i=1
    while i < len(nums):
        if nums[i]==ref_value:
            # print("True")
            if nums[i]==nums[i-1]:
                return True
        i= i+1
    else:
        return False

In [85]:
# Check
has_33([1, 3, 3])

True

In [86]:
# Check
has_33([1, 3, 1, 3])

False

In [87]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    new_word=str()
    i=0
    while i < len(text):
        new_block=text[i]*3
        new_word=new_word + new_block
        i=i+1
    print(new_word)

In [160]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [161]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [214]:
def blackjack(a,b,c):
    var_values= (a,b,c)
    var_sum_values= sum(var_values)
    if var_sum_values<=21:
        return var_sum_values
    else:
        if 11 in var_values:
            sum_reduced=var_sum_values-10
            if sum_reduced<=21:
                return sum_reduced
            elif sum_reduced>21:
                return "BUST"
        else:
            return "BUST"


# further adjustments: validate input value in the initial list: between 1 and 11
# the threshold of 21 could be set as variable instead of coding hard value

In [215]:
# Check
blackjack(5,6,7)

18

In [216]:
# Check
blackjack(9,9,9)

'BUST'

In [217]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [458]:
def summer_69(arr):
    sum_arr= sum(arr)
    
    # define section to exclude
    id_start_to_exclude=int()
    id_end_to_exclude=int()

    # https://stackoverflow.com/questions/522563/how-to-access-the-index-value-in-a-for-loop
    for idx, x in enumerate(arr):
        if x==6:
            id_start_to_exclude=idx
        elif x==9:
            id_end_to_exclude=idx
        else:
            pass

    to_deduct_sum_arr=int()
    # return sum and deduct excluded section if applying  
    if id_end_to_exclude-id_start_to_exclude==0:
        return sum_arr
    else:
        i=id_start_to_exclude
        while i<=id_end_to_exclude:
            to_deduct_sum_arr += arr[i]
            i=i+1
        new_sum_arr=sum_arr-to_deduct_sum_arr
        return new_sum_arr

In [456]:
# # Check
summer_69([1, 3, 5])

9

In [459]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [460]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [584]:
def spy_game(nums):
    i=2
    while i<len(nums):
        if nums[i]==7 and nums[i-1]==0 and nums[i-2]==0:
            return True
        else:
            pass
        i += 1
    return False

# extra step: have a var with values to find to refer to in code instead of hard coded value; i.e secret_code_to_find=[0,0,7]

In [585]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [586]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [587]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    
    flag=False

    for i in range(2,num):
        if num<2:
            print("not prime, break?")
        else:
            for num%i==0:
            # result = num%i==0
            # flag= True
            print(num, i)
            # bre   ak
        else:
            pass
    # https://stackoverflow.com/questions/15963707/python-displays-all-of-the-prime-numbers-from-1-through-100#:~:text=2%2C3%2C5%2C7,python

In [600]:
# Check
count_primes(100)

100 2
100 4
100 5
100 10
100 20
100 25
100 50

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!